<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Form Invoice</title>
</head>

<body>
  <div class="container">
    <h1><b>INVOICE </b></h1>
          <hr>
          <div class="your-business">
            <p> Your Name : <input type="text" id="text" required minlength="4"> </p>
            <p>Your Adddress : <input type="text" id="text" required minlength="4"></p>
            <p> Your Phone : <input type="text" id="text" required minlength="4"></p>
            <p> Your email : <input type="email" id="email" pattern=".+@globex\.com" size="30" required></p>
          </div>

          <hr>

          <div class="to-data">
            <div class="buyer-data">

              <h5><strong>Bill to:</strong></h5>

              <p> Buyer Name : <input type="text" id="text" required minlength="4"> </p>
              <p> Buyer Adddress : <input type="text" id="text" required minlength="4"></p>
              <p> Buyer Phone : <input type="number" id="number" required minlength="4"></p>
              <p> Buyer email: <input type="email" id="email" pattern=".+@globex\.com" size="30" required></p>

            </div>

            <div class="billto-data">
              <p>Invoice Number: <input type="number" id="number" required minlength="4" placeholder="#######"> </p>
              <p>Invoice Date : <input type="date" id="start" value="07-01-2022" min="07-01-2022"></p>
              <p>Payment due : <input type="date" id="start" value="07-01-2022" min="07-01-2022"></p>

            </div>

          </div>

          <hr>

          <div class='item-table'>
            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm)">
              <div class="form-row">

                <div class="form-group col-md-4">
                  <label for="inputEmail4">Item</label>
                  <input formControlName="text" class="form-control" placeholder="item">
                </div>

                <div class="form-group col-md-4">
                  <label for="inputPassword4">Quantity</label>
                  <input formControlName="number" class="form-control" placeholder="quantity">
                </div>

              </div>

              <div class="form-row">

                <div class="form-group col-md-2">
                  <label for="inputCity">Price per Unit</label>
                  <input formControlName="number" class="form-control" id="number" placeholder="price 0.00">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputCity">Amount </label>
                  <input formControlName="number" class="form-control" id="Amount" placeholder="Amount 0.00">
                </div>

              </div>

              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-success">Save</button>

                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-primary">Add new Item</button>

                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </form>
          </div>

  </div>

</body>

</html>